@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.icons{
	height:1.5em;
}
body{
    font-family: 'Inconsolata', monospace;
    /*font-family: monospace;*/
    /*background-color: #011622;*/
    background-color: #036395;
    margin: 0;
}
h1{
    /*font-family: sans-serif;*/
    text-transform: uppercase;
    text-align: center;
    background-image: url('../background.jpg');
    padding: 5vh;
    background-size: cover;
    color: white;
}
@media screen and (max-width: 699px){
    h1{
        padding: 1em!important;
    }
    .mainPart{
        /*display: block!important;*/
        width:100%!important;
    }
    .leftPart{
        width: calc(100% - 2em)!important;
        margin-right: 1em;
    }
    .menuBar{
        border-radius: .5em;
    }
    .menuBar li{
        text-align: center;
        /*background-color: #1C75EB;*/
    }
    .tutorImage {
        display: block!important;
        margin: auto;
    }
    .tutorDesc{
        display: block;
        max-width: 100%!important;
        margin-top: 0.5em!important;
        margin-left: 0!important;
    }
    .tutorName{
        text-align: center;
    }
}
@media screen and (max-width: 500px){   
    .problemaRisolti {
        display: block!important;
    }
}
.aperti{
	background-color: #ffff66!important;
	margin-bottom: 1.5em;
    padding: 1em;
    border-radius: 0.5em;
}
.button{
	background-color: #ffffff;
	font-size: 1.2em;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
    display: block;
    border-radius: 0.7em;
    margin: 0.5em 1em 0.5em 1em;
	color:#004d4d!important;
}
@media screen and (min-width: 700px){
    .leftPart, .mainPart{
        min-height: calc(100vh - 7em);
        max-height: 100%;
    }
    /*.menuBar li::before{
        content:'';
        width:1em;
        display: inline-block;
    }*/
    .menuBar{
        border-radius: 1em;
    }
}
.leftPart, .mainPart{
    display: inline-block;
    background-color: #036395;
}
.mainPart{
    width:80%;
}
.leftPart{
    width: calc(20% - 10px - 1em);
    vertical-align: top;
    margin-left: 1em;
}
.post{
    display: block;
    margin: 1em;
    background-color: #8DBADA;
    padding: 1em;
    border-radius: 0.7em;
}
.menuBar li{
    display: block;
    color: white;
    padding: .5em;
    margin: .5em;
    background-color: #2E80ED;
    border-radius: 0.5em;
    border: .1em solid #0d4998;
    box-shadow: .25em .25em .5em #0d4998;
}
.menuBar{
    padding: .25em 0 .25em 0;
    background-color: #1C75EB;
}
.noLnk{
    color:inherit;
    text-decoration: none;
}
textarea{
    width:100%;
    height: 10em;
}
pre, code{
	overflow: auto;
	word-wrap: normal;
	white-space: pre!important;
/*	max-width: 80vw!important;
	overflow-x:scroll!important;*/
}
.pre-inline{
    display: inline!important;
}
.noLnk::visited{
    color: inherit;
}
img{
    max-height: 10em;
}
.tutor{
    background-color: #8DBADA;
    padding: 1em;
    margin: 1em;
    border-radius: 0.7em;
}
.classAvatar {
    height: 2em;
    margin-right: 1em;
}
.nascosto{
    display: none;
}
.strengthBar{
    border:1px solid #011622;
    border-radius:.5em
}
.cursoreMano, .button{
    cursor: pointer;
}
.whitebg{
    background-color: white;
}
.button.noBlock{
    display:inline-block!important;
    padding: 0.2em!important;
}
embed{
    width:100%;
    min-height: 50vh;
}
.feedIcon{
    vertical-align: middle;
}
.problemaRisolti {
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.35em;
    background-color: #B4CD5A;
    margin: 0.15em;
    border-color: #365511;
    border-width: 1.5px;
    border-style: solid;
    box-shadow: .15em .15em .5em #2B4E00;
}
#listaRisolti{
    padding-left:0;
}
.badge{
    border-radius: 50%;
    vertical-align: middle;
    height: 2.5em;
    width: 2.5em;
    max-width:100%;
    display: inline-block;
    margin: 0.5em;
}
.badge.oro{
    background-color:#ffcd57;
}
.badge.bronzo{
    background-color:#b6ba94;
}
.badge.argento{
    background-color:#a4bfc9;
}
.badge.platino{
    background-color:#536e78;
}
.badge.nullBadge{
    background-color:#dbdedf;
}
.userWelcome{
    font-weight: bold;
    font-size: 2em;
    font-stretch: semi-condensed;
    font-style: oblique;
    vertical-align: middle;
    margin:0.5em;
    display: inline-block;
}
.userPic {
    border-radius: 50%;
    vertical-align: middle;
    max-height: 5em;
    max-width: 100%;
    display: inline-block;
}
.userWW{
    text-align: center;
}
.tutorImage {
    max-height: 10em;
    display: inline-block;
    vertical-align: top;
}
.tutorDesc{
    display: inline-block;
    max-width: calc(95% - 10em);
    vertical-align: top;
    margin-top: 0;
    margin-left: .5em;
}
.imgBadge {
    width: 100%;
    height: 100%;
}