@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.icons{
	height:1.5em;
}
body{
    font-family: 'Inconsolata', monospace;
    /*font-family: monospace;*/
    background-color: #011622;
}
h1{
    /*font-family: sans-serif;*/
    text-transform: uppercase;
    text-align: center;
    background-image: url('../background.jpg');
    padding: 1.5em;
    background-size: cover;
    color: white;
}
@media screen and (max-width: 480px){
    h1{
        padding: 1em!important;
    }
    .leftPart, .mainPart{
        /*display: block!important;*/
        width:100%!important;
    }
    .menuBar li{
        text-align: center;
    }
}
.aperti{
	background-color: #ffff66!important;
	margin-bottom: 1.5em;
	padding: 1em;
	padding-top: 0;
}
.button{
	background-color: #ffffff;
	font-size: 1.2em;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
    display: block;
    border-radius: 0.7em;
    margin:0.5em;
	color:#004d4d!important;
}
@media screen and (min-width: 481px){
    .leftPart, .mainPart{
        min-height: calc(100vh - 7em);
    }
}
.leftPart, .mainPart{
    display: inline-block;
    background-color: #036395;
}
.mainPart{
    width:80%;
}
.leftPart{
    width:calc(20% - 10px);
    vertical-align: top;
}
.post{
    display: block;
    margin: 1em;
    background-color: #C7F6FF;
    padding: 1em;
    border-radius: 0.2em;
}
.menuBar li{
    display: block;
    background-color: #426BF4;
    color: white;
    padding: .5em;
}
.menuBar{
    padding: 0;
}
.noLnk{
    color:inherit;
    text-decoration: none;
}
textarea{
    width:100%;
    height: 10em;
}
pre, code{
	overflow: auto;
	word-wrap: normal;
	white-space: pre!important;
/*	max-width: 80vw!important;
*/	overflow-x:scroll!important;
}
.noLnk::visited{
    color: inherit;
}
img{
    max-height: 10em;
}
.tutor{
    background-color: aquamarine;
    padding: 1em;
    margin: 1em;
    border-radius: 0.3em;
}
.classAvatar {
    height: 2em;
    margin-right: 1em;
}
.nascosto{
    display: none;
}
.strengthBar{
    width:50%;
    border:1px solid #011622;
    border-radius:.5em
}
