h1{
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-image: url('res/background.jpg');
    padding: 2.5em;
    background-size: cover;
}
@media screen and (max-width: 480px){
    /*Stili diversi per dispositivi mobili*/
}
.leftPart, .mainPart{
    display: inline-block;
    height: 100%;
    background-color: rgba(1, 35, 53, 0.63);
}
.mainPart{
    width:80%;
}
.leftPart{
    width:19%;
    vertical-align: top;
}
.post{
    display: block;
    margin: 1em;
    background-color: #C7F6FF;
}
.menuBar li{
    display: block;
    background-color: #426BF4;
    color: white;
    padding: .5em;
}
.menuBar{
    padding: none;
}
.noLnk{
    color:inherit;
    text-decoration: none;
}
.noLnk::visited{
    color: inherit;
}