h1{
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-image: url('res/background.jpg');
    padding: 2.5em;
}
@media screen and (max-width: 480px){
    /*Stili diversi per dispositivi mobili*/
}
.leftPart, .mainPart{
    display: inline-block;
}
.mainPart{
    width:80%;
}
.leftPart{
    width:19%;
    vertical-align: top;
}
.post{
    display: block;
}
.menuBar li{
    display: block;
}
.noLnk{
    color:black;
    text-decoration: none;
}
.noLnk::visited{
    color: black;
}